{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-sm-6 text-black">
            <div class="d-flex justify-content-center align-items-center pt-3 mb-4">
                {% if validlink %}
                <form method="post" style="width: 80%;">
                    {% csrf_token %}
                    <h1 class="mb-3 pb-3 d-flex justify-content-center align-items-center">Reset Password</h1>
                    <p>Please enter your new password twice, so we can verify the password is typed correctly.</p>
                    <div class="form-outline mb-4">
                        {{ form|crispy }}
                    </div>
                    <div class="pt-1 mb-4">
                        <button class="btn btn-lg btn-block text-light" style="background-color: #3b5998" type="submit">Change password</button>
                    </div>
                </form>
                {% else %}
                <p>The password reset link is invalid, possibly because it has already been used, or it has expired. Please request a new password reset.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}